{% extends "base.html" %}

{% block title %}
    <title>College View</title>
{% endblock %}

   {% block content %}
<table>
    <thead>
        <th>SN </th> <th>Name</th> <th>Address</th> <th>Phone</th> <th>Update</th> <th>Delete</th>
    </thead>
    <tbody>
    {% for college in colleges %}
     <tr>
         <td>
             {{ forloop.counter }}.
         </td>
          <td>
             {{ college.name }}
         </td>
          <td>
             {{ college.address }}
         </td>
          <td>
             {{ college.phone }}
         </td>
     </tr>
    {% endfor %}
    </tbody>
</table>
 {% endblock content %}